 <div class="w-1/3 bg-gray-800 text-white p-4">
    <h2 class="text-xl font-bold mb-4">Users</h2>
    <ul id="userList" class="space-y-2">
      <% if (users && users.length > 0) { %> <% users.forEach(user => { %>
      <li
        onclick="selectUser('<%= user._id %>')"
        class="p-2 bg-gray-700 rounded-lg cursor-pointer hover:bg-gray-600"
      >
        <%= user.name %>
      </li>
      <% }); %> <% } else { %>
      <li class="text-gray-400">No users found</li>
      <% } %>
    </ul>
  </div> 

